.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #444444;
    border-top: 1px solid #313131;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 15px;
  }
  
  .footer-text1 {
    font-size: 14px;
    color: #ffffff;
  }