.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background-color: #444444;
    border-top: 1px solid #313131;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 2px -2px gray;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
  }
  
  .footer-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .footer-text {
    font-size: 14px;
    color: #ffffff;
  }