.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    width: 170px;
    height: 65px;
  }
  
  .header-right {
    display: flex;
    gap: 10px;
    margin-right: 20px;
  }
  

 