.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    width: 150px;
    height: 58px;
  }
  
  .header-right {
    display: flex;
    gap: 10px;
  }
  
  .header-button {
    padding: 10px 20px;
    border: none;
    background-color: var(--button-yellow);
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .header-button:hover {
    background-color: #b34b00;
  }