.account-settings-page {
    padding: 20px 17%;
    background-color: var(--background-color);
    text-align: left;
    height: 100vh;
    align-items: center;
}

.settings-main-section {
    border: 1px solid var(--border-color);
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
}
.icon12 {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.settings-half-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 20px 10px;
}

.settings-half-section:last-child {
    border: none;
}

.label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.label12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
}

.email15 {
  font-family: var(--font-basic);
  font-size: 15px;
  font-weight: 400;
  width: 600px;
  text-align: center;
}

.text12 {
  font-family: var(--font-basic);
  font-size: 15px;
  font-weight: 700;
  width: 100px;
  text-align: left;
}
.big-icon15 {
  width: 30px;
  height: 30px;
  margin-left: 110px;
  cursor: pointer;
}
.icon {
    margin-right: 8px;
}

.big-icon {
    margin-left: 10px;
    max-width: 40px;
    max-height: 40px;
    object-fit: cover;
    cursor: pointer;
}

.email,
.password {
    flex: 1;
    margin-left: 30%;
}

.settings-button-area{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 20px 0;
}

.settings-button-secondary,
.settings-button-primary {
    margin-top: 20px;
    margin-left: 10px;
    padding: 13px 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.settings-button-primary {
    background-color: var(--button-yellow);
    color: #fff;
}

.settings-button-primary:hover {
    background-color: var(--button-hover-yellow);
}

.settings-button-secondary {
    background-color: var(--background-color);
    color: #555;
    text-decoration: underline;
}

.settings-button-secondary:hover {
    color: #262626;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  
  .modal-content h2 {
    margin-top: 0;
  }

  .modal-error-message {
    margin-bottom: 10px;
    color: red;
    font-style: italic;
  }

  .modal-button-close,
  .modal-button-confirm {
    margin: 10px;
  }

  .modal-button-close {
    cursor: pointer;
    text-decoration: underline;
    border: none;
    background-color: #fff;
    color: #555;
  }

  .modal-button-confirm {
    padding: 10px 20px;
    background-color: var(--button-yellow);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .modal-button-confirm:hover {
    background-color: var(--button-hover-yellow);
  }

  .modal-input-error {
    background-color: rgb(255, 197, 197);
  }