  .side-bar {
    width: 20%;
  }

  .main-section {
    margin-right: 5%;
    width:65%;
    text-align: left;
  }

  .attach-li{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }

  .split-epag {
    background-color: var(--background-color);
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    height: fit-content;
    padding: 20px 0px;
    column-gap: 20px;
  }

  .profile_image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .split-page{
    padding: 5px;
    padding-bottom: 10px;
  }

  .text-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#444;
    margin-left: 5px;
    padding: 7px;
  }

  .home-user-info-h3 {
    font-size: 14px;
    font-weight: 600;
    color:#4f4f4f;
    margin-top: 7px;
    font-family: var(--font-basic);
  }

  .home-user-info-h4 {
    font-size: small;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }

  .home-user-info-h5 {
    font-size: smaller;
    font-weight: 200;
    margin-top: 0;
  }
  .profile-sect-contact {
    font-size: 14px;
    font-weight:500;
    color:#000000;
    text-align: center;
    font-family: var(--font-basic);
  }
  .profile-sect-name {
    font-size: 16px;
    width: 150px;
    font-weight:600;
    color:#4f4f4f;
    text-align: center;
    font-family: var(--font-basic);
  }

  .profile-sect-prof {
    font-size: 14px;
    font-weight: 500;
        width: 150px;
    color:#777777;
    text-align: center;
    font-family: var(--font-basic);
    margin-top: 3px;

  } 

  .profile-sect-headhead {
    font-size: 15px;
    font-weight: 700;
    color:#000000;
    font-family: var(--font-basic);
    margin-top: 7px;
    padding: 5px;
  }

  .profile-sect-head {
    font-size: 14px;
    font-weight: 600;
    color:#4f4f4f;
    font-family: var(--font-basic);
    margin-top: 7px;
    padding: 5px;
  }

.profile-sect-bot {
  font-size: 14px;
    font-weight: 300;
    color:#000000;
    font-family: var(--font-basic);
    padding: 5px;
    padding-top: 0px;
}
  .side-bar-section {
    margin-bottom: 20px;
    background-color: #ffff;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px 10px;
  }

  .side-bar-part {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid var(--border-color);
    text-align: left;
    font-family: var(--font-basic);
    padding-bottom: 7px;;
  }

  .side-bar-part:last-child {
    border: none;
  }

  .side-bar-part h4 {
    font-size: medium;
    font-weight: 500;
  }

  .side-bar-part h5 {
    font-size: small;
    font-weight: 500;
    margin: 7px;
    padding: 0;
    margin-top: 20px;
  }

  .side-bar-part h6 {
    font-size: smaller;
    font-weight: 400;
    margin: 7px;
    padding: 0;
  }

  .home-user-info {
    border-bottom: 1px solid var(--border-color);
    padding: 5px;
  }


  .home-user-info:last-child {
    border:none;
  }



  .home-user-info-ul {
    font-size: 14px;
    font-weight: 300;
    font-family: var(--font-basic);
    margin: 2px;
    margin-left: 0px;
  }

  .home-user-info-ul:first-child {
    margin-top: 7px;
  }
  .side-bar-section h3 {
    font-size: larger;
    font-weight: 500;
  }

  .network-icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
  }

  .side-bar-contact {
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: left;
    height: fit-content;
    padding: 10px 0px;
  }

  .article-creator {
    width: 100%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #444;
    color: var(--button-hover-yellow);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .article-creator-ttitle {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--font-basic);

  }
  

  .article-creator-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 0px;
    border-bottom: 1px solid #ccc;
  }

  .input-group {
    margin-bottom: 20px;
  }

  .input-group label {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font-basic);
  }

  .input-group input,
  .input-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font-basic)
  }

  .input-group textarea {
    resize:none;
    height: 100px;
  }

  .icon-group {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
  }

  .icon-group p {
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-basic)

  }

  .yellow-trash {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    cursor: pointer;
  }

  .attach-title{
    font-weight: 400;
    font-size: 16px;
    font-family: var(--font-basic);
    margin-top:15px;
  }

  .attach-type {
    font-weight: 600;
    font-size: 16px;
    font-family: var(--font-basic);
  }

  .attach-name {
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-basic);
    color: #fff;
  }
  .icon-group button {
    background: none;
    border: none;
    cursor: pointer;
  }



  .photicon {
    max-width: 40px;
    max-height: 40px;
  }

  .vidicon {
    max-width: 40px;
    max-height: 35px;
  }

  .audicon {
    max-width: 40px;
    max-height: 30px;
  }

  .attached-files {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border-color);
  }

  .attached-files ul{
    padding-left: 5px;
  }

  .attached-file {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .attached-file img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .attached-file span {
    font-size: 14px;
    margin-right: 20px;
  }

  .remove-button {
    background-color: var(--button-yellow);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .remove-button:hover {
    background-color: var(--button-hover-yellow);
  }

  .submit-button {
    display: block;
    margin: 10px;
    padding: 10px;
    border:  none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    font-family: var(--font-basic);
    background-color: var(--button-yellow);
    color: var(--text-dark-grey);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .submit-button:hover {
    background-color: var(--button-hover-yellow);
    color: white;

   
  }

  .articles-page {
    width: 100%;
    max-height: 800px;
    margin: 0 auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20px;
    padding-right: 40px;
    margin-bottom: 50px;
  }

  .network-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    padding-top: 20px;
    font-size: large;
  }

  .contacts-page {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
  }

  .contacts-list {
    list-style-type: none;
    max-height: 300px;
    padding: 0;
    overflow-y: auto;
    background-color: #fff;
    text-align: left;
  }

  .contacts-list li {
    font-size: medium;
  }

  .contact {
    display: flex;
    align-items: center;
    justify-content: left;
    border-top: 0.8px solid #ccc;
    padding: 5px 5px;
  }

  .contact:first-child{
    border-top: 0px;
  }

  .contact-icon {
    flex: 1;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
    margin-right: 13px;
    object-fit: cover;
  }