.notifications-page {
    padding: 20px 20%;
    background-color: var(--background-color);
    text-align: left;
    align-items: center;
    height: 100vh; 
  }
  
  h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .notifications-scrollable-list {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 40px;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .notification-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #eee;
    transition: 0.3s ease;

  }
  
  .notification-item:last-child {
    border-bottom: none;
  }

  .notification-item:hover {
    background-color: #fff3d7;

  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .notification-text {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .notification-name {
    width: fit-content;
    font-weight: bold;
    cursor: pointer;
  }



  .notification-name1 {
    width: fit-content;
    font-weight: bold;
    width: 380px;
    margin-left: 10px;
  }

  .actual-name {
    cursor: pointer;
  }
  
  .notification-time {
    text-align: right;
    font-size: 12px;
    color: #888;
  }

  .request-buttons15 {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    gap: 10px;
  }
  
  .accept-button,
  .decline-button {
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
  }
  
  .accept-button {
    background-color: var(--button-yellow);
    color: white;
  }

  .accept-button:hover {
    background-color: var(--button-hover-yellow);
  }
  
  .decline-button {
    background-color: var(--button-light-grey);
    color: #555;
  }

  .decline-button:hover {
    background-color: var(--button-hover-light-grey);
  }

  .comment {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-style: italic;
    color: #555;
  }

  .another-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
  }


  .accept-button15{
    padding: 7px 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100px;
    border-radius: 10px;
    border: 2px solid var(--button-grey);
    color: white;
    background-color: var(--button-grey);
    font-size:  15px;
    font-family: var(--font-basic);
    font-weight: 700;
    transition: 0.3s ease;
    margin: auto;
}

.accept-button15:hover{
    background-color: white;
    color: var(--button-grey);
    cursor: pointer;
}


.reject-button15{
  padding: 7px 7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  border-radius: 10px;
  border: 2px solid var(--button-light-grey);
  color:var(--button-grey);
  background-color: var(--button-light-grey);
  font-size:  15px;
  font-family: var(--font-basic);
  font-weight: 700;
  transition: 0.3s ease;
  margin: auto;
}

.reject-button15:hover{
  background-color: #e0e0e0;
  border: 2px solid var(--button-grey);
  cursor: pointer;
}