:root {
  --button-yellow: #f3c55a;
  --button-hover-yellow: #ecb74d;
  --button-grey: #2C2C2C;
  --button-light-grey: #eeeeee;
  --button-hover-light-grey: #f9f6f1;
  --text-white: #ffffff;
  --text-dark-grey: #4b4b4b;
  --text-dark-grey2: #6f6f6f;
  --background-color: #FAF8F8;
  --border-color: #DFDFDF;
  --error-red: #e40c0c;
  --font-basic: font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Fira Sans, Ubuntu, Oxygen, Oxygen Sans, Cantarell, Droid Sans, Apple Color Emoji, Segoe UI Emoji, Segoe UI Emoji, Segoe UI Symbol, Lucida Grande, Helvetica, Arial, sans-serif;
}

.button-primary {
  padding: 13px 20px;
  border: none;
  background-color: var(--button-yellow);
  color: white;
  font-weight: bold;
  font-family: var(--font-basic);
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  border: 2px solid var(--button-yellow);
  transition: background-color 0.3s ease;
}

.button-primary:hover {
  background-color: var(--button-hover-yellow);
  border: 2px solid var(--button-hover-yellow);
}

.button-secondary {
  padding: 13px 20px;
  border: none;
  background-color: white;
  color: var(--text-dark-grey);
  font-weight: bold;
  font-family: var(--font-basic);
  cursor: pointer;
  border-radius: 20px;
  font-size: 16px;
  border: 2px solid var(--text-dark-grey);
  transition: background-color 0.3s ease;
}

.button-secondary:hover {
  padding: 12.5px 19.5px;
  background-color: var(--button-hover-light-grey);
  border: 2.5px solid var(--text-dark-grey);
}

.link {
  text-decoration: none;
  color: inherit;

}

.link:hover {
  text-decoration: underline;
  font-weight: 500;
}


.signup-prompt {
  font-family: var(--font-basic);
  font-size: 1rem;
  color: var(--text-dark-grey);
  margin-top: 20px;
  /* Space between submit button and prompt */
}

.signup-prompt a {
  color: var(--primary-color);
  /* Adjust as needed */
  text-decoration: none;
  /* Remove default underline */
}

.signup-prompt a:hover {
  text-decoration: underline;
  /* Underline text on hover */
}

.split-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  padding-top: 2%;
  padding-bottom: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

.text-section {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
}

.text-section h1 {
  font-size: 48px;
  color: var(--text-dark-grey);
  font-weight: 200;
}

.text-section p {
  font-size: 28px;
  color: var(--text-dark-grey);
  font-weight: 200;
}

.image-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  max-width: 70%;
  max-height: 70%;
  object-fit: cover;
}

.main {
  background-color: var(--background-color);
  min-height: 70%;
  padding: 50px 10px;
}

.small-icon {
  margin-left: 20px;
  max-width: 20px;
  max-height: 20px;
  object-fit: cover;
}

.article-container {
  margin-left: 10%;
  min-height: 80%;
  width: 80%;
  padding: 20px 20px;
  background-color: #ffffff;
  border: 2px solid #EBB430;
  text-align: left;
}

.article-author1 {
  display: flex;
  align-items: center;
  height: fit-content;
  cursor: pointer;
}

.article-text {
  flex: 1;
  background-color: #ffffff;
  text-align: left;
  font-family: var(--font-basic);
}

.article-text h1 {
  font-size: 40px;
  color: #2C2C2C;
  font-weight: 400;
}

.article-text h2 {
  font-size: 30px;
  color: #2C2C2C;
  font-weight: 400;
}

.article-text p {
  font-size: 20px;
  color: var(--text-dark-grey);
  font-weight: 200;
}

.article-text li {
  font-size: 18px;
  color: var(--text-dark-grey);
  font-weight: 200;
}

.article-image {
  margin: 20px;
  height: 40vh;
  max-height: 40%;
  width: auto;
}

.article-comment-section {
  max-height: 300px;
  padding: 5px 0px;
  overflow-y: auto;
  margin-bottom: 40px;
}

video {
  width: 100%;
  height: auto;
  opacity: 1;
  visibility: visible;
  z-index: 1;
  background-color: black;
}

.interest-box {
  display: flex;
  align-items: center;
  justify-content: right;
  height: fit-content;
}

.interest-button {
  margin: 2%;
  margin-right: 5%;
  border: 1px solid var(--button-yellow);
  border-radius: 10px;
  color: var(--button-yellow);
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.interest-button:hover {
  border-color: var(--button-hover-yellow);
  color: var(--button-hover-yellow);
}

.article-comment-button {
  margin: 2%;
  margin-right: 5%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight:600;
  background-color: var(--button-yellow);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.article-comment-button:hover {
  background-color: var(--button-hover-yellow);
}