.privacy-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.privacy-modal-content {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 530px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.privacy-modal-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.privacy-modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.privacy-modal-close-btn {
    width: 35px;
    cursor: pointer;
    color: #333;
    background: none;
    border: none;
}

.privacy-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid var(--border-color);
}

.privacy-row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 0;

}

.icon-circle {
    width: 65px;
    height: 65px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 50px;
}

.privacy-row-icon {
    width: 30px;
    height: 30px;

}


.privacy-row-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 15px;
    font-family: var(--font-basic);
    width: 300px;

}

.privacy-text-title {
    font-weight: bold;
    margin-bottom: 4px;
}

.privacy-text-subtitle {
    color: #666;
}

.privacy-row-radio {
    margin-left: 250px;
    cursor: pointer;
    transform: scale(1.5);
    width: 50px;
}

.privacy-modal-footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.privacy-modal-button {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 140px;
    border-radius: 10px;
    border: 2px solid var(--button-yellow);
    color: white;
    background-color: var(--button-yellow);
    font: var(--font-basic);
    font-weight: 700;
    transition: 0.3s ease;
}

.privacy-modal-button:hover {
    background-color: white;
    color: var(--button-yellow);
    cursor: pointer;
}


.add-work-experience-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}

.add-work-experience-modal-content {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 500px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.add-work-experience-modal-content4 {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 700px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
}

.add-work-experience-modal-content5 {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 550px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.add-work-experience-modal-content6 {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 380px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.add-work-experience-modal-header {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.add-work-experience-modal-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.add-work-experience-modal-close-btn {
    width: 35px;
    cursor: pointer;
    color: #333;
    background: none;
    border: none;
}

.add-work-experience-modal-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;

}

.form-group2 {
    margin-bottom: 15px;
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group2 label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 80%;
    text-align: left;
}




.form-group2 input {
    flex-grow: 1;
    width: 430px;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 16px;
    transition: 0.3s ease;
}

.form-group2 input::placeholder {
    color: #6E6E6E;
    font-size: 14px;
    opacity: 1;
}

.form-group2 input:focus {
    background-color: white;
    border-color: #333;
    box-shadow: 0px 2px 15px rgba(109, 109, 109, 0.2);
}

.span2 {
    font-weight: bold;
    width: 80%;
    text-align: left;
    margin-bottom: 20px;
}

.form-group-label {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    gap: 10px;
    margin-bottom: 5px;
}

.form-group-icon {
    width: 20px;
    height: 20px;
}

.form-group-label span {
    font-weight: bold;
    width: 80%;
    color: #6E6E6E;
    font-size: 14px;
    text-align: left;
}



.add-work-experience-modal-footer {
    padding: 20px;
    height: 50px;
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.add-work-experience-modal-footer button {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 140px;
    border-radius: 10px;
    border: 2px solid var(--button-yellow);
    color: white;
    background-color: var(--button-yellow);
    font: var(--font-basic);
    font-weight: 700;
    transition: 0.3s ease;
}

.add-work-experience-modal-footer button:hover {
    background-color: white;
    color: var(--button-yellow);
    cursor: pointer;
}


.add-work-experience-modal-content2 {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 570px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.add-work-experience-modal-content3 {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 300px;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-pic-container {
    display: flex;
    padding: 15px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    ;
    gap: 150px;
    margin-top: 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;

}

.profile-pic-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #f0f0f0;
}

.profile-pic-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-pic-button {
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 180px;
    border-radius: 10px;
    border: 2px solid var(--button-yellow);
    color: var(--button-yellow);
    background-color: white;
    font: var(--font-basic);
    font-weight: 700;
    font-size: 14px;
    transition: 0.3s ease;
}

.profile-pic-button:hover {
    background-color: var(--button-yellow);
    color: white;
    cursor: pointer;
}

.profile-pic-input {
    display: none;
}

.details-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid var(--border-color);
}

.details-section2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: none;
}

.add-skill-modal-content3 {
    background: #fff;
    border-radius: 8px;
    width: 80%;
    height: 80vh;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
}

.skills-container {
    width: 100%;
    margin: 0 auto;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.skill-box {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.skill-box:hover {
    background-color: var(--button-yellow);
    color: white;
}

.chosen-skills-container {
    margin-top: 20px;
    width: 100%;
}

.chosen-skills-head {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    justify-content: space-between;
}

.chosen-skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.chosen-skill-box {
    background-color: #e0e0e0;
    border: 1px solid #bbb;
    padding: 8px;
    text-align: center;
    border-radius: 5px;
}